body{
    background-color: #dedbd5;
}
h1{
    margin-bottom: 50px;
    color: #588157;
}
nav ul {
    background-color: #6c8e6b;
    border: 2px solid white;
    border-radius: 25px;
    padding: 10px;
}
nav ul li {
    list-style-type: none;
    display: inline;
    margin-left: 20px;
    color: white;

}
nav ul li a {
    text-decoration: none;
    color: #122912;
}